<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <form action="#">
            <input type="text" name="title" v-model="title" placeholder="Title" />

            {{ title }}
            <br><br>
            <textarea name="description" v-model="description" cols="30" rows="10"
                placeholder="Masukan deskripsi"></textarea>

            {{ description }}
            <br><br>

            <input type="number" name="price" v-model.number="price" placeholder="Price" />

            {{ price }}

            <br><br>

            Paket <br>
            <input type="radio" name="bukuA" value="A" v-model="paket">
            <label for="bukuA">Buku Laravel</label>
            <br>
            <input type="radio" name="bukuB" value="B" v-model="paket">
            <label for="bukuB">Buku Vue</label>
            <br>
            <input type="radio" name="bukuAB" value="AB" v-model="paket">
            <label for="bukuAB">Buku Laravel + Vue</label>
            <br>
            <span>Pilihan paket: {{ paket }}</span>
            <br><br>

            Kategori <br>
            <select name="category" v-model="category">
                <option disabled value="">Please select one</option>
                <option>Graphics Programming</option>
                <option>Mobile Application Development</option>
                <option>Virtual and Augmented Reality</option>
            </select>
            <span>Selected {{ category }}</span>
            <br><br>

            Contoh Boolean Menggunakan Checkbox <br>
            Gender <br>
            <input type="checkbox" name="checkbox" v-model="gender">
            <label for="checkbox">{{ gender }}</label><br><br>

            Example Data Array <br>
            Hobi <br>
            <input type="checkbox" name="hobby1" value="nonton" v-model="hobbies">
            <label for="hobby1">Nonton</label>
            <input type="checkbox" name="hobby2" value="jalan" v-model="hobbies">
            <label for="hobby2">Jalan</label>
            <input type="checkbox" name="hobby3" value="makan" v-model="hobbies">
            <label for="hobby3">Makan</label>
            <span>Pilihan hobi: {{ hobbies }}</span>
            <br><br>

            Multiple Selected <br>
            Multiple Kategori <br>
            <select v-model="categories" multiple>
                <option value="01">Graphics Programming</option>
                <option value="02">Mobile Application Development</option>
                <option value="03">Virtual and Augmented Reality</option>
            </select>
            <span>Selected: {{ categories }}</span>
        </form>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            title: "",
            description: "",
            price: "",
            paket: '',
            category: '',
            gender: true,
            hobbies: [],
            categories: [],
        },
    });
</script>

</html>